langchain==0.3.20
langchain-openai==0.3.35
langchain-community==0.3.20
langchain-core==0.3.84
langchain-text-splitters==0.3.11
streamlit
openai
arxiv
tavily-python
pillow
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pypdf
reportlab
scikit-learn
